<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codeMaze">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Minigame">
        <activity
            android:name=".CustomizeDifficultyActivity"
            android:exported="false"
            android:screenOrientation="portrait"  />
        <activity
            android:name=".BeginStoryActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DifficultyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity2"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoryStartActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Path1Activity"
            android:exported="true" />
        <activity
            android:name=".Path2Activity"
            android:exported="true" />
        <activity
            android:name=".Path3Activity"
            android:exported="true" />
        <activity
            android:name=".Path4Activity"
            android:exported="true" />
        <activity
            android:name=".Path5Activity"
            android:exported="true" />
        <activity
            android:name=".Path6Activity"
            android:exported="true" />
        <activity
            android:name=".Path7Activity"
            android:exported="true" />
        <activity
            android:name=".Path8Activity"
            android:exported="true" />
        <activity
            android:name=".Path9Activity"
            android:exported="true" />
        <activity
            android:name=".Path10Activity"
            android:exported="true" />
        <activity
            android:name=".Path11Activity"
            android:exported="true" />
        <activity
            android:name=".Path12Activity"
            android:exported="true" />
        <activity
            android:name=".Path13Activity"
            android:exported="true" />
        <activity
            android:name=".Path14Activity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>